*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
  background-color: rgb(137, 0, 186);
}
.h1{
  font-size: 40px;
  margin-bottom: 1rem;
}
.main{
  /* border: 1px solid red; */
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn_four{
  height: 30px;
  margin-block: 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.5rem;
  width: auto;
  background-color: rgb(68, 255, 0);
  border: none;
  padding: 0.3rem;

}
.btn_four:hover{
  background-color: rgb(73, 233, 14);
  transform: scale(1.03);
}
.btn_skip{
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  width: 115px;
  background-color: rgb(73, 255, 255);
  border: none;
  padding: 0.3rem;
}
.btn_skip:hover{
  background-color:  rgb(64, 215, 215);
  transform: scale(1.03);
}
.ptag{
  font-size: 22px;
  font-weight: 600;
}